<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>Account - Commerce Cubicle Reservation</title>
</head>
<body>
<div class="container-fluid" style="background-color: #006747">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="#"><img src="logo2.png" alt="Logo2" style="width: 200px;" ></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/account}">Account</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> Reservations</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/new_reservation}">New Reservation</a>
                    <a class="dropdown-item" th:href="@{/view_reservations}">View Reservation(s)</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:document.logoutForm.submit()" role="menuitem">Logout</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Log Out" />
                </form>
            </li>
        </ul>
    </nav>
</div>
<div class="container" style="margin-top: 20px;">
    <h3 style="text-align:center;"><b>Account Information</b></h3>
    <div class="card" style="padding: 25px; background-color: #006649;">
        <div class="card" style="padding: 20px;">
            <h4>Welcome <b>[[${#request.userPrincipal.principal.getFullName}]]</b></h4>
            <h5>Email: <b>[[${#request.userPrincipal.principal.getUsername}]]</b></h5><br>
            <h5>Change Password: </h5>
            <form action="#">
                <div class="form-group w-25">
                    <label for="pwd">Current password: </label>
                    <input type="password" class="form-control" id="pwd">
                </div>

                <div class="form-group w-25">
                    <label for="pwd">New password: </label>
                    <input type="password" class="form-control" id="npwd" >
                </div>

                <div class="form-group w-25">
                    <label for="pwd">Re-enter new password: </label>
                    <input type="password" class="form-control" id="rnpwd">
                </div>

                <button type="submit" class="btn btn-colour-1">Change password</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>